body {
    font-family: 'Cairo', sans-serif;
    -ms-overflow-style: none;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


/* -------------------------- */